.package-row { overflow: hidden }
table th { width: 20% }
table td, table th { padding: 4px; border: 1px solid #ccc }
th { background-color: #eee }
/*input#search { font-size: 20px; margin: 5px 0; padding: 4px 5px; width: 100%; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }*/
#lastupdate { text-align: right; }
#lastupdate time { font-weight: bold; }
